<html>
  <head>
    <script src="http://labelwriter.com/software/dls/sdk/js/DYMO.Label.Framework.latest.js" type="text/javascript" charset="UTF-8"> </script>
    <script>
      function printLabelsForSelected() {
        // pulled the configuration from - http://www.labelwriter.com/software/dls/sdk/samples/js/PrintLabel/PrintLabel.js
        var label = dymo.label.framework.openLabelXml('<?xml version="1.0" encoding="utf-8"?>\
    <DieCutLabel Version="8.0" Units="twips">\
        <PaperOrientation>Landscape</PaperOrientation>\
        <Id>Address</Id>\
        <PaperName>30252 Address</PaperName>\
        <DrawCommands/>\
        <ObjectInfo>\
            <TextObject>\
                <Name>Text</Name>\
                <ForeColor Alpha="255" Red="0" Green="0" Blue="0" />\
                <BackColor Alpha="0" Red="255" Green="255" Blue="255" />\
                <LinkedObjectName></LinkedObjectName>\
                <Rotation>Rotation0</Rotation>\
                <IsMirrored>False</IsMirrored>\
                <IsVariable>True</IsVariable>\
                <HorizontalAlignment>Left</HorizontalAlignment>\
                <VerticalAlignment>Middle</VerticalAlignment>\
                <TextFitMode>ShrinkToFit</TextFitMode>\
                <UseFullFontHeight>True</UseFullFontHeight>\
                <Verticalized>False</Verticalized>\
                <StyledText/>\
            </TextObject>\
            <Bounds X="332" Y="150" Width="4455" Height="1260" />\
        </ObjectInfo>\
    </DieCutLabel>');
        var labelSet = new dymo.label.framework.LabelSetBuilder();

        var checkboxes = document.getElementsByClassName('checkbox');
        // commented out sections for debugging
        // var text = 'Print the following:';
        for (var i = 0; i < checkboxes.length; i++) {
          if (checkboxes[i].checked) {
            var record = labelSet.addRecord();
            record.setText("Name", checkboxes[i].name);
            // text += '\n' + checkboxes[i].name;
          }
        }
        label.print('DYMO LabelWriter 450', '', labelSet);
        // alert(text);
      }
    </script>
  </head>
  <body>
    <h1>Check In</h1>
    <form method="post">
      <table>
        <tr>
          <th>Select</th>
          <th>Name</th> 
        </tr>
        {% for person in people %}
          <tr>
            <td><input type="checkbox" name="{{person.first_name}} {{person.last_name}}" class="checkbox"></td>
            <td>{{person.first_name}} {{person.last_name}}</td>
          </tr>
        {% endfor %}
      </table>
      <button onclick="printLabelsForSelected()">Check In</button>
    </form>
  </body>
</html>